{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Org Members</h4>
        <div class="card">
            <div class="card-header">
                <div class="card-title">List of Org Members</div>
        </div>
        <div class="card-body">
            <a href="{% url 'orgmember-add' %}" class="btn btn-success btn-rounded">Add Member</a>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in orgmembers%}
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.organization }}</td>
                        <td>{{ member.role }}</td>
                        <td>
                            <a href="{% url 'orgmember-update' member.id %}">Edit</a>
                            <a href="{% url 'orgmember-delete' member.id %}" class="text-danger">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="4">No Members Found</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'includes/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}